{% extends 'BACKOFFICE/admin.html.twig' %}

{% block title %}liste Allergene{% endblock %}

{% block body %}


    <div class="table-responsive">
        <h1 class="text-center">liste des Allergènes</h1>

        <table class="table table-striped table-bordered mt-5" id="datatable">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">NOM</th>
                    <th class="text-center">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for allergene in allergenes %}
                    <tr class="text-center">
                        <td>{{ allergene.id }}</td>
                        <td>{{ allergene.nom }}</td>
                        <td>

                            <a href="{{ path('edit_admin_allergene', {'id': allergene.id}) }}"><i class="fa-solid fa-file-pen"></i></a>
                            <a href="{{ path('delete_admin_allergene', {'id': allergene.id}) }}"><i class="fa-solid fa-trash-can" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet Allergène ?')"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('add_admin_allergene') }}"><input type="button" class="btn btn-outline-primary" value="AJOUTER" /></a>
    </div>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>

{% endblock %}
