{% extends '..' %}

{% block title %}liste Recette{% endblock %}

{% block body %}


    <div class="table-responsive">
        <h1 class="text-center">liste des Recettes</h1>

        <table class="table table-striped table-bordered mt-5" id="datatable">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Temps de préparation</th>
                    <th class="text-center">Temps de repos</th>
                    <th class="text-center">Temps de cuisson</th>
                    <th class="text-center">Ingrédients</th>
                    <th class="text-center">Etapes</th>
                    <th class="text-center">public</th>
                    <th class="text-center">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recette in recettes %}
                    <tr class="text-center">
                        <td>{{ recette.id }}</td>
                        <td>{{ recette.titre }}</td>
                        <td>{{ recette.description }}</td>
                        <td>{{ recette.tempsPrepa }}</td>
                        <td>{{ recette.tempsRepos }}</td>
                        <td>{{ recette.tempsCuisson }}</td>
                        <td><a href="{{ path('app_ingredient_recette',{'id': recette.id}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                        <td><a href="{{ path('app_recette_etape',{'id': recette.id}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                        <td>
                            {% if recette.public == false %}
                                <span>Non</span>
                            {% else %}
                                <span>Oui</span>
                            {% endif %}
                        </td>
                        <td>

                            <a href="{{ path('edit_admin_recette', {'id': recette.id}) }}"><i class="fa-solid fa-file-pen"></i></a>
                            <a href="{{ path('delete_admin_recette', {'id': recette.id}) }}"><i class="fa-solid fa-trash-can" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette Recette ?')"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('add_admin_recette') }}"><input type="button" class="btn btn-outline-primary" value="AJOUTER" /></a>
    </div>



{% endblock %}
